<ion-content [fullscreen]="true">
  <div *ngIf="users" class="user-container">
    <h2>Gebruikers: </h2>
    <br>
    <div *ngFor="let user of users">
      <div class="user-item">
        <div class="user-id">{{user.id}}.</div>
        <div class="color-block" *ngIf="user.colors[0]" [ngStyle]="{'background': user.colors[0].color}"></div>
        <ion-icon *ngIf="user.colors?.length > 1" class="toggle-list" name="chevron-up-outline"
          (click)="toggleDropdown($event)"></ion-icon>
        <ion-icon *ngIf="user.colors?.length > 1" class="shuffle-btn ion-hide" name="shuffle-outline"
          (click)="shuffleColors(user.id)"></ion-icon>
      </div>
      <div class="colors-list ion-hide">
        <div *ngFor="let color of user.colors | slice:1" class="color-block" [ngStyle]="{'background': color.color}">
        </div>
      </div>
    </div>
  </div>
</ion-content>