<ion-header>
  <!-- <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content scrollY="false">
  <ion-grid>
    <ion-row id="logo" class="ion-justify-content-center">
      <ion-col size="8">
        <ion-img src="../../assets/logo.png"></ion-img>
      </ion-col>
      <!-- <ion-col size=""></ion-col> -->
    </ion-row>
    <ion-row class="">
      <ion-col></ion-col>
      <ion-col class="ion-align-self-center" id='btn'>
        <ion-button fill="outline" color="everywhere" (click)="signup()"> Aanmelden </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
    <!-- <div id="button">
      <div id="btn" class="">
        <ion-button> Aanmelden </ion-button>
      </div>
    </div> -->
</ion-content>
